body {
  background: black;
  color: silver;
  cursor: url(campaigns/Descent_into_Darkness_2/images/cursors/normal.png);
}

/* An example ad banner. */
#banner {
  position: relative;
  width: 468px;
  height: 60px;
  margin: 10px auto;
  font-size: 50px;
  text-align: center;
  color: red;
  background-color: yellow;
  font-family: "Comic Sans", sans-serif;
}

/* The element containing game action. */
#game {
  position: relative;
  width: 600px;
  height: 400px;
  display: block;
  margin: 0 auto;
  border: 0;
}

/* The account management menu */
#userForm {
  text-align: center;
  width: 100%;
}

/* regular button */
.button {
  background-image: url(campaigns/Descent_into_Darkness_2/images/buttons/button.png);
  width: 114px;
  height: 17px;
  text-align: center;
  padding: 6px 0 8px 0;
  font-size: 17px;
  cursor: url(campaigns/Descent_into_Darkness_2/images/cursors/attack.png);
}
.largeButton: hover {
  background-image: url(campaigns/Descent_into_Darkness_2/images/buttons/button-active.png);
}

/* large button with fancy border */
.largeButton {
  background-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button.png);
  width: 114px;
  height: 17px;
  text-align: center;
  padding: 6px 0 8px 0;
  font-size: 17px;
  cursor: url(campaigns/Descent_into_Darkness_2/images/cursors/attack.png);
}
.largeButton: hover {
  background-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button-active.png);
}

/* resizeable button with a fancy border */
.fancyLargeButton {
  border-width: 7px 6px;
  border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button.png) 7 6 7 6 stretch stretch;
  -webkit-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button.png) 7 6 7 6 stretch stretch;
  -moz-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button.png) 7 6 7 6 stretch stretch;
  -o-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button.png) 7 6 7 6 stretch stretch;
}
.fancyLargeButton: hover {
  border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button-active.png) 7 6 7 6 stretch stretch;
  -webkit-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button-active.png) 7 6 7 6 stretch stretch;
  -moz-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button-active.png) 7 6 7 6 stretch stretch;
  -o-border-image: url(campaigns/Descent_into_Darkness_2/images/buttons/large-button-active.png) 7 6 7 6 stretch stretch;
}

/* movement controls */
#up, #left, #right, #down {
  width: 72px;
  height: 72px;
  position: absolute;
  cursor: url(campaigns/Descent_into_Darkness_2/images/cursors/move.png);
  background-image: url(campaigns/Descent_into_Darkness_2/images/misc/attack-indicator-n.png);
  z-index: 1;
  opacity: 0.5;
}
#up {
  left: 0;
  top: -72px;
}
#left {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  left: -72px;
  top: 0;
}
#right {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  right: -72px;
  top: 0;
}
#down {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  left: 0;
  bottom: -72px;
}
#up:hover {
  opacity: 1;
}
#left:hover {
  opacity: 1;
}
#right:hover {
  opacity: 1;
}
#down:hover {
  opacity: 1;
}
.moving div #up {display:none;}
.moving div #down {display:none;}
.moving div #left {display:none;}
.moving div #right {display:none;}

/* Characters */
.character {
  position: absolute;
  width: 72px;
  height: 72px;
  margin: -36px;
  left: 0px;
  top: 0px;
}
.character div {
  position: relative;
  width: 72px;
  height: 72px;
}
.character div img {
  position: absolute;
  left: 36px;
  top: 36px;
  z-index: 2;
}
.character .left img {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

