body {
  background:black;
  color:silver;
}

/* The element containing game action */
#game {
  position:relative;
  width:700px;
  height:500px;
  margin:0 auto;
}

/* The account management menu */
#userForm {
  text-align:center;
  width:100%;
}

/* A container for character graphics, selection icons and menus */
.character {
  position:absolute;
  left:0;
  top:0;
  width:0;
  font-size:xx-small;
}

.status {
  width:20px;
  margin:0 -10px;
  text-align:center;
}

/* Hit point guage, outside */
.maxHP {
  width:18px;
  padding:1px;
  background:black;
  margin-top:3px;
}

/* Hit point gauge, inside */
.hp {
  height:3px;
  width:100%;
  background:#0C0;
}

